<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pandemy - Welcome to Dashboard</title>
    </head>
    <body>
        <div layout:fragment="content">

            <main>
                <!-- #DASHBOARD SECTION -->
                <section class="dashboard" id="dashboard">
                    <div class="dashboard-left">
                        <p class="section-subtitle">Hello</p>
                        <h1 class="main-heading">Welcome To Dashboard</h1>
                        <p class="section-text">Integer in magna in est ultrices bibendum eget enim et dui imperdiet
                            faucibus. Fusce eu tristique felis.</p>
                    </div>
                    <div class="dashboard-right"></div>
                </section>

                <!-- #NAVBAR TABS -->
                <section class="custom-nav-tabs">
                    <div class="custom-nav-tabs-card" id="nav-tabs">
                        <img src="/images/cta-bg-img.png" alt="shape" class="custom-nav-tabs-card-bg">
                        <ul class="custom-navbar-nav">
                            <li class="custom-nav-item">
                                <a href="#home">Home</a>
                            </li>
                            <li class="custom-nav-item">
                                <a href="#course">My Courses</a>
                            </li>
                            <li class="custom-nav-item">
                                <a href="#category">Category</a>
                            </li>
                            <li class="custom-nav-item">
                                <a href="#join">Join</a>
                            </li>
                            <li class="custom-nav-item">
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </section>

                <!-- #COURSE SECTION -->
                <section class="course" id="course">
                    <p class="section-subtitle">Dashboard</p>

                </section>
            </main>
        </div>
    </body>
</html>