<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pandemy - Online Courses & Education</title>
    </head>
    <body>

        <div layout:fragment="content">
            <main>
                <!-- #HOME SECTION -->
                <section class="home" id="home">
                    <div class="deco-shape shape-1">
                        <img src="images/shape-1.png" alt="art shape" width="70" />
                    </div>
                    <div class="deco-shape shape-2">
                        <img src="images/shape-2.png" alt="art shape" width="55" />
                    </div>
                    <div class="deco-shape shape-3">
                        <img src="images/shape-3.png" alt="art shape" width="120" />
                    </div>
                    <div class="deco-shape shape-4">
                        <img src="images/shape-4.png" alt="art shape" width="30" />
                    </div>

                    <div class="home-left">
                        <p class="section-subtitle">Welcome To Pandemy</p>

                        <h1 class="main-heading">
                            Get Class From Top
                            <span class="underline-img">Instructor <img src="images/banner-line.png"
                                    alt="line" /></span>
                        </h1>

                        <p class="section-text">Improyour skill with Pandemy. The best online learning platform.</p>

                        <div class="home-btn-group">
                            <a th:href="@{/courses}" class="custom-btn custom-btn-primary">
                                <p class="custom-btn-text">Explore Courses</p>
                                <span class="square"></span>
                            </a>

                            <button class="custom-btn custom-btn-secondary">
                                <p class="custom-btn-text">Contact Us</p>
                                <span class="square"></span>
                            </button>
                        </div>
                    </div>

                    <div class="home-right">
                        <div class="img-box">
                            <img src="images/banner-img-bg.png" alt="colorful background shape"
                                class="background-shape" />
                            <img src="images/banner-img.png" alt="banner image" class="banner-img" />

                            <img src="images/banner-aliment-icon-1.png" alt="" class="icon-1 smooth-zigzag-anim-1"
                                width="250" />
                            <img src="images/banner-aliment-icon-2.png" alt="" class="icon-2 smooth-zigzag-anim-2"
                                width="240" />
                            <img src="images/banner-aliment-icon-3.png" alt="" class="icon-3 smooth-zigzag-anim-3"
                                width="195" />
                            <img src="images/banner-aliment-icon-4.png" alt="" class="icon-4 drop-anim" />
                        </div>
                    </div>
                </section>

                <!-- #COURSE SECTION -->
                <section class="course" id="course">
                    <p class="section-subtitle">Our Online Courses</p>
                    <h2 class="section-title">Find The Right Online Course For You</h2>

                    <div class="course-grid">
                        <div class="course-card" th:each="course : ${courses}">
                            <div class="course-banner">
                                <img th:src="${course.courseImage}" th:alt="${course.title}" />
                                <div class="course-tag-box">
                                    <a href="#" class="badge-tag orange" th:text="${course.category.name}">Category</a>
                                </div>
                            </div>

                            <div class="course-content">
                                <h3 class="card-title">
                                    <a href="#" th:text="${course.title}">Course title</a>
                                </h3>

                                <div class="wrapper border-bottom">
                                    <div class="author">
                                        <a href="#" class="author-name"
                                            th:text="${course.user.profile.fullName}">Teacher name</a>
                                    </div>
                                </div>

                                <div class="wrapper">
                                    <div class="course-price" th:text="'Rp ' + ${course.price}">$50.00</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a th:href="@{/courses}" class="custom-btn custom-btn-primary">
                        <p class="custom-btn-text">View All Course</p>
                        <span class="square"></span>
                    </a>
                </section>

                <!-- #COURSE CATEGORY SECTION -->
                <section class="category" id="category">
                    <h2 class="section-title">Explore Popular Courses</h2>

                    <ul class="course-item-group">
                        <li class="course-category-item" th:each="category : ${categories}">
                            <div class="course-category-content">
                                <h3 class="category-title">
                                    <a href="#" th:text="${category.name}">Learn Data Science</a>
                                </h3>
                            </div>
                        </li>
                    </ul>
                </section>

                <!-- #JOIN US LEARNER SECTION -->
                <section class="learner" id="join">
                    <div class="learner-left">
                        <div class="img-box">
                            <img src="images/about-img-bg.png" alt="learner bg" class="learner-bg" />
                            <img src="images/about-img.png" alt="learner person" class="learner-img" />
                            <img src="images/banner-aliment-icon-1.png" alt="" class="icon-1 smooth-zigzag-anim-1"
                                width="250" />
                            <img src="images/banner-aliment-icon-3.png" alt="" class="icon-2 smooth-zigzag-anim-3"
                                width="195" />
                        </div>
                    </div>

                    <div class="learner-right">
                        <p class="section-subtitle">Join as Learner</p>
                        <h2 class="section-title">Transform your life through education</h2>
                        <p class="section-text">
                            Learners around the world are launching new careers, advancing in their fields, and
                            enriching their lives.
                        </p>

                        <button class="custom-btn custom-btn-primary">
                            <p class="custom-btn-text">Sign Up As Learner</p>
                            <span class="square"></span>
                        </button>
                    </div>
                </section>

                <!-- #JOIN US TEACHER SECTION -->
                <section class="teacher">
                    <div class="teacher-left">
                        <p class="section-subtitle">Join as teacher</p>
                        <h2 class="section-title">Become a teacher</h2>
                        <p class="section-text">
                            Teachers from around the world teach millions of students on Udemy. We provide the tools
                            and skills to teach what you love.
                        </p>

                        <button class="custom-btn custom-btn-primary">
                            <p class="custom-btn-text">Sign Up As Teacher</p>
                            <span class="square"></span>
                        </button>
                    </div>

                    <div class="teacher-right">
                        <div class="img-box">
                            <img src="images/about-img-bg.png" alt="teacher bg" class="teacher-bg" />
                            <img src="images/banner-img.png" alt="teacher person" class="teacher-img" />
                            <img src="images/banner-aliment-icon-1.png" alt="" class="icon-1 smooth-zigzag-anim-1"
                                width="250" />
                            <img src="images/banner-aliment-icon-3.png" alt="" class="icon-2 smooth-zigzag-anim-3"
                                width="195" />
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>